* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --bg-color: #ffffff;
  --pre-nav-1-bg: #26468f;
  --color-3: #ebebeb;
  --color-4: #063585;
  --font-color: #282828;
}

body {
  position: relative;
  background-color: var(--bg-color);
  color: var(--font-color);
}

/* Pre Nav */

.pre-nav-1 {
  width: auto;
  height: 27px;
  background-color: var(--pre-nav-1-bg);
}

.pre-nav-2 {
  position: relative;
  width: auto;
  height: 81px;
  background-color: var(--color-3);
  z-index: 1;
}

.btn-primary {
  position: relative;
  height: 38px;
  border-radius: 7px;
  margin-right: 125px;
  font-size: 16px;
  background-color: var(--pre-nav-1-bg);
  border-color: transparent;
}

/* Akhir Pre Nav */

/* Logo Section */

.logo img {
  position: relative;
  margin-top: -60px;
  width: 130px;
  height: 130px;
  z-index: 2;
}

.logo-text h1 {
  font-size: 20px;
  text-transform: uppercase;
  margin: 5px 0 0 -50px !important;
  font-weight: 500;
  color: var(--color-4);
}

.logo-text h2 {
  font-size: 32px;
  text-transform: uppercase;
  margin: -28px 0 0 -50px !important;
  font-weight: 700;
  color: var(--color-4);
}

/* Akhir Logo Section */

/* Hero Section */

.slides-image {
  width: 100% !important;
  height: 409px !important;
  margin-top: 38px;
}

/* Akhir Hero Section */

/* why-us */

#why-us {
  margin-top: 30px;
}

.profit-desc {
  margin-top: 50px;
}

.profit-title h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.text-different {
  color: var(--color-4);
}

.profits {
  margin-top: 30px;
}

.left-content-image {
  display: flex;
  justify-content: center;
}

.left-content-image img {
  width: 39px;
  height: 39px;
}

.left-content-paragraph h1 {
  font-family: var();
  font-size: 14px;
  font-weight: 500;
  text-align: end;
}

.left-content-paragraph span {
  font-weight: 700;
}

.right-content-paragraph h1 {
  font-size: 14px;
  font-weight: 500;
  text-align: start;
}

.right-content-paragraph h1 span {
  font-weight: 700;
}

/* akhir why-us */

/* About Us */

#about {
  background-color: #ebf0fb;
  width: 100%;
  height: auto;
}

#about h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

#about h3 {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.about-heading span {
  color: #063585;
}

.btn-danger {
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #063585;
  border-color: #063585;
  padding: 12px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  box-shadow: #d5cdc3 7px 7px 2.6px;
}

.btn-danger:hover {
  background-color: #063585e3;
  border-color: #063585e3;
  transition: 0.6s;
}

/* Akhir About Us */

/* Form */

.form-heading {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.form-sub-heading {
  margin-top: 15px;
  font-size: 18px;
  text-align: center;
}

.col-form-label {
  font-size: 16px;
}

.form-control {
  border-radius: 0;
}

.form-select {
  display: flex !important;
  float: left;
  margin-right: 10px;
  flex-direction: column !important;
  width: 80px;
}

.form-select:active,
.form-select:focus {
  box-shadow: none;
}

.form-control:active,
.form-control:focus {
  box-shadow: none;
}

.bi-calendar3 {
  font-size: 24px;
  color: rebeccapurple;
}

.form-check {
  margin-top: 8px;
  margin-right: 2px;
}

.terms-link {
  color: #26468f;
  font-size: 14px;
  font-weight: 600 !important;
}

.pernyataan-check-input {
  margin-top: 10px;
}

.pernyataan {
  margin-top: 10px;
  font-size: 11px;
}

.btn-dark {
  margin-top: 10px;
  padding: 8px 90px 8px 90px;
  background-color: #063585;
  border: transparent;
}
.btn-dark:hover {
  transition: 0.6s;
  background-color: #063585d7;
  border: transparent;
}

.text p {
  width: 600px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #2828289d;
}

/* Akhir Form */

/* Asuransi */

#asuransi-section {
  height: 370px;
  background-color: #f9f9f9;
}

.asuransi-heading {
  padding-top: 30px !important;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.asuransi-heading span {
  color: #063585;
}

.langkah-img {
  margin-top: 40px;
}

/* Akhir Asuransi */

/* Footer */

footer {
  width: auto;
  height: 50px !important;
  background-color: #063585;
}

.copyright {
  width: 550px;
  color: #ffffff;
}

/* Akhir Footer */

/* Media Queries */

/* Mobile */

@media screen and (min-width: 300px) and (max-width: 767px) {
  .btn-primary {
    margin: 0;
    font-size: 12px;
  }
  .btn .label {
    display: none;
  }
  .logo img {
    width: 65px !important;
    height: 65px !important;
    margin: -112px 0 0 0 !important;
  }
  .logo-text h1 {
    font-size: 13px;
    text-align: center;
    margin: -12px 0 0 0 !important;
  }
  .logo-text h2 {
    font-size: 20px;
    text-align: center;
    margin: -20px 0 0 0 !important;
  }
  .slides-image {
    margin: 10px auto;
    width: 100%;
    height: 200px !important;
  }
  #why-us {
    text-align: center;
    margin-top: 2px;
    font-size: 14px;
  }
  .profit-title h1 {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
  }
  .left-content-paragraph {
    width: 300px;
  }
  .left-content-paragraph h1 {
    width: 400 !important;
    text-align: center;
  }
}
